<!DOCTYPE html>
<html>
  <head>
    <title>Askme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='wrapper'>
        <div class='navbar'>
          <p class='title-sm text-bold'>
            <%= link_to 'AskMe', root_path %>
          </p>

          <div>
            <% if current_user.present? %>
              <%= content_tag 'span', "@#{current_user.nickname}" %>  
              <%= button_to 'Logout', session_path, method: :delete, class: 'button button_yellow ml-sm' %>
            <% else %>
              <%= link_to 'Sign up', new_user_path, class: 'button button_yellow ml-sm' %>
              <%= link_to 'Sign in', new_session_path, class: 'button button_yellow' %>
            <% end %>
          </div>
        </div>

        <% if flash[:notice].present? %>
          <p class='mb mt message message-notice'>
            <%= flash[:notice] %>
          </p>
        <% end %>

        <% if flash[:alert].present? %>
          <p class='mb mt message message-alert'>
            <%= flash[:alert] %>
          </p>
        <% end %>

      <%= yield %>
    </div>
  </body>
</html>
